# ======================
# Dependencias / Builds
# ======================
node_modules/
*/node_modules/
dist/
build/
.out/
.next/
.turbo/
.tmp/
.cache/
*.tgz

# ======================
# Variables de entorno
# (todas las variantes)
# ======================
.env
.env.*
*.env
*.env.*
.env.local
.env.development.local
.env.production.local
.env.test.local

# ======================
# Logs / PIDs
# ======================
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.pid

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
desktop.ini

# ======================
# IDEs / tooling
# ======================
.vscode/
.idea/
.history/
*.swp

# ======================
# Cobertura / Reportes pesados
# ======================
coverage/
*/coverage/
lcov-report/
reports/
**/cypress/videos/
**/cypress/screenshots/

# (Si NO quieres reportes HTML en el repo, descomenta:)
# **/cypress/reports/

# ======================
# Subidas locales / Datos
# (ajusta si usas otra carpeta)
# ======================
uploads/
storage/
tmp/
*.sqlite
*.sqlite3
*.db
*.dump
*.bak
*.backup

# ======================
# Docker
# ======================
# Archivos temporales de runtime
*.pid

# ======================
# Sonar
# ======================
.scannerwork
sonar-project.properties
